.snakemake/

raw_reads/
trimmed_reads/

spades_output/
spades_output_backup/

prokka_output_backup/
prokka_snakemake_output/

snakefile

prokka_output/*.err
prokka_output/*.log
prokka_output/*.fna
prokka_output/*.fsa
prokka_output/*.sqn
prokka_output/*.tbl
prokka_output/*.gbk

gene_confirmation/*.phr
gene_confirmation/*.pin
gene_confirmation/*.pjs
gene_confirmation/*.pot
gene_confirmation/*.psq
gene_confirmation/*.ptf
gene_confirmation/*.pto

quast_output/basic_stats/
quast_output/icarus.html
quast_output/icarus_viewers/
quast_output/quast.log
quast_output/report.tex
quast_output/transposed_report.tex
quast_output/transposed_report.tsv
quast_output/transposed_report.txt

gene_confirmation/laccase_reference.pdb
gene_confirmation/uniprot_db.pdb
